# IDEA files
*.iml
.idea
**/first_roles.sql
src/main/resources/migration/.first_roles.sql


# Target
target

# Fichiers temporaires
*~
/ui/cypress/videos/
/ui/cypress/screenshots/
/ui/html/
mermaid-filter.err
.env
/documentations/openapi.yaml
# /ui/cypress/fixtures/applications/errors/errors.json
# /ui/cypress/fixtures/applications/ore/monsore/**
# /ui/cypress/fixtures/applications/ore/monsore/validateMonsore.txt
# /ui/cypress/fixtures/applications/ore/monsore/monsoere.json
# /ui/cypress/fixtures/applications/ore/monsore/createMonsore.txt
# /ui/cypress/fixtures/applications/ore/monsore/changeMonsore.txt
.Rproj.user
/documentations/openadom/.quarto/
/documentations/openadom/_site/
/documentations/openadom/_freeze/
/htmlReport/
/src/main/resources/.firstroles.sql
# Fichiers créés par Docker en mode root
src/main/resources/docker/prometheus/prometheus.yml
