# IDEA files
*.iml
.idea

# Target
target

# Fichiers temporaires
*~
/ui/cypress/videos/
/ui/cypress/screenshots/
/ ui/cypress/fixtures/applications/errors/errors.json
/ui/cypress/fixtures/applications/ore/monsore/datatypes/authorisation/grantable.json
/ui/cypress/fixtures/applications/ore/monsore/datatypes/pem.json
/ui/cypress/fixtures/applications/ore/monsore/monsoere.json