# Permet à jackson de désérialiser des objets rendus immuables (pas de contructeur
# vide, pas de setter) par lombok
lombok.anyConstructor.addConstructorProperties = true
# ajout de l'annotation @Generated dans les sources générées par lombok, pour que jacoco les ignore
lombok.addLombokGeneratedAnnotation = true
