events {}

http {
    default_type application/octet-stream;

    types {
        application/javascript js mjs;
        application/json json;
        text/csv csv;
        text/html html htm;
    }

    server {
        listen 80;
        server_name _;

        location / {
            root /usr/share/nginx/html;
            try_files $uri $uri/ /index.html;
        }

        location /api/v1/ {
            proxy_pass {{BACKEND_URL}}/api/v1/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}