.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Fichiers example de cypress
ui2/cypress/integration/example
ui2/cypress/videos
ui2/cypress/screenshots
ui2/cypress/downloads
