// A file for common css across the application
html,
body {
  height: 100%;
}

.title {
  color: $primary;
  margin-top: $title-margin-top;

  &.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  color: $info;
}

.clickable {
  cursor: pointer;
}

.link {
  cursor: pointer;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

// Input style

.input-field {
  margin-bottom: 1rem;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: $light;
    }
  }
}

// Buttons style

.buttons {
  justify-content: flex-end;

  &:last-child {
    margin-bottom: 0;
  }

  .button {
    margin-bottom: 0;
  }
}

// Buefy/Bulma UI overrides

.tabs.is-boxed li.is-active a {
  color: $primary;
}

.message .media {
  align-items: center;
}
