// A file for common css across the application
html,
body {
  height: 100%;
}

.title {
  color: $primary;
  margin-top: $title-margin-top;

  &.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  color: $info;
}

.clickable {
  cursor: pointer;
}

.link {
  cursor: pointer;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

.hide {
  display: none;
}

// Input style

.input-field {
  margin-bottom: 1rem;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: $light;
    }
  }
}

// Buttons style

.buttons {
  justify-content: flex-end;

  &:last-child {
    margin-bottom: 0;
  }

  .button {
    margin-bottom: 0;
  }
}

// Buefy/Bulma UI overrides

.tabs.is-boxed li.is-active a {
  color: $primary;
}

.tabs.is-boxed.is-right {
  ul {
    margin: 0;
    li a {
      text-decoration: none;
    }
  }
}
.b-tabs .tab-content {
  padding: 0.5rem;
}

.pagination-link.is-current {
  background-color: $dark;
  border-color: $dark;
}

.message .media {
  align-items: center;
}

.pagination-link.is-current {
  background-color: $dark;
  border-color: $dark;
}

a.dropdown-item {
  display: flex;
  align-items: center;
}

.icon.is-right.is-small.is-clickable {
  color: $primary;
}
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $primary;
}
.select select:focus select:active {
  border-color: $dark;
}