/**************************************************************************************************
*                       Global app variables (defined in the app)                                 *
***************************************************************************************************/

$font-family: "LiberationSans", Helvetica, Arial, sans-serif;

/**************************************************************************************************
*                                   Buefy/Bulma customizations                                   *
*        see all customizable variables here https://buefy.org/documentation/customization/       *
***************************************************************************************************/

// General variables
$primary: rgb(0, 132, 127);
$family-primary: $font-family;
